<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{./css/main.css}"/>
</head>

<body>
<nav>
    <div th:replace="./tags/navbar">&copy; </div>
</nav>
<div class="container" style="padding-top: 6%">
	<div class="row">
		<div class="col-md-10" id="fileuploadContent">
	    	<h2> File Upload </h2>	           	        

         	<form id="fileuploadForm" action="fileupload" method="POST" enctype="multipart/form-data" class="cleanform">

                <input type="file" id="file" name="file" />
				
                <div style="padding-top:20px;"></div>

                <div>
                  <button type="submit" class="btn btn-primary">Upload</button>
                </div>					
			</form>
        </div>       
    </div>
</div>
<footer>
    <div th:replace="./tags/footer"></div>
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
			$('<input type="hidden" name="ajaxUpload" value="true" />').insertAfter($("#file"));
			$("#fileuploadForm").ajaxForm({ success: function(html) {
					$("#fileuploadContent").replaceWith(html);
				}
			});
		});
        /*]]>*/
</script>

</body>
</html>
