<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Tutorials</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{./css/main.css}"/>

</head>

<body>
<div th:replace="./tags/loggedin">&copy;</div>
<div class="container" style="padding-top: 10%">
    <div class="hero-unit">
        <h1>Tutorials</h1>
    </div>
</div>
</body>
</html>
