<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>>
<head>

    <title>Account</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/main.css}"/>

</head>

<body>
<div th:replace="./tags/loggedin">&copy;</div>
<div class="container" style="padding-top: 10%">
    <div class="hero-unit">
        <h2>Account Details</h2>

            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                    <p th:text="${username}"></p>
                <span sec:authentication="name"></span>

            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                    <p th:text="${email}"></p>
            </div>

    </div>
</div>

</body>
</html>
