<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>In Progress</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
</head>
<body>
<div th:replace="./tags/navbar">&copy; </div>

<h1 class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Progress</b></h1>

<p>Binary to Decimal</p>
<div class="w3-round-xlarge w3-small">
    <label th:for="grade0">Easy</label>
    <p class="grades" id="grade0" th:if="${grade0} != null" th:text="${grade0}"></p>
    <label for="grade1">Medium</label>
    <p class="grades"  id="grade1" th:if="${grade1} != null" th:text="${grade1}"></p>
    <label for="grade2">Hard</label>
    <p class="grades"  id="grade2"  th:if="${grade2} != null" th:text="${grade2}"></p>
</div>

<p>Decimal to Binary</p>
<div class="w3-round-xlarge w3-small">
    <label th:for="grade3">Easy</label>
    <p class="grades"  id="grade3"  th:if="${grade3} != null" th:text="${grade3}"></p>
    <label th:for="grade4">Medium</label>
    <p class="grades"  id="grade4"  th:if="${grade4} != null" th:text="${grade4}"></p>
    <label th:for="grade5">Hard</label>
    <p  class="grades" id="grade5"  th:if="${grade5} != null" th:text="${grade5}"></p>
</div>

<p>Decimal to Hexadecimal</p>
<div class="w3-round-xlarge w3-small">
    <label th:for="grade6">Easy</label>
    <p class="grades"  id="grade6"  th:if="${grade6} != null" th:text="${grade6}"></p>
    <label th:for="grade7">Medium</label>
    <p class="grades"  id="grade7"  th:if="${grade7} != null" th:text="${grade7}"></p>
    <label th:for="grade8">Hard</label>
    <p class="grades"  id="grade8"  th:if="${grade8} != null" th:text="${grade8}"></p>
</div>

<p>Hexadecimal to Decimal</p>
<div class="w3-round-xlarge w3-small">
    <label th:for="grade9">Easy</label>
    <p class="grades"  id="grade9"  th:if="${grade9} != null" th:text="${grade9}"></p>
    <label th:for="grade10">Medium</label>
    <p class="grades"  id="grade10"  th:if="${grade10} != null" th:text="${grade10}"></p>
    <label th:for="grade11">Hard</label>
    <p class="grades"  id="grade11"  th:if="${grade11} != null" th:text="${grade11}"></p>
</div>
<p></p>

</body>
<div th:replace="./tags/footer">&copy; </div>
</html>

