<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
        .grades {
            text-align: right;
            display: inline-block;
        }​
    </style>
    <script>
        function testButtonClick(url) {
            window.location = url;
        }
    </script>
</head>

<body class="w3-light-grey">
<div th:replace="./tags/navbar">&copy;</div>
<div class="container" style="padding-top: 5%">
    <div class="w3-right">
        <button class="w3-btn w3-teal w3-large w3-hover-gray" onclick=testButtonClick("/user/account/user-account-update")>Edit Account Info</button>
    </div>
        <!-- The Grid -->
        <div class="w3-row-padding" style="margin:0 -16px">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img th:src="@{../../img/avatar.png}" style="width:100%" alt="Avatar"/>
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2><span th:text="${username}"></span></h2>
                        </div>
                    </div>
                    <p></p>
                    <!--/*@thymesVar id="user" type="main.java.converter.model.User"*/-->\
                    <div class="w3-container">
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><span th:text="${email}"></span></p>
                        <p><i class="fa fa-level-up fa-fw w3-margin-right w3-large w3-text-teal"></i>Skills Level</p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Progress</b></p>

                        <p>Binary to Decimal</p>
                        <div class="w3-round-xlarge w3-small">
                            <label th:for="grade0">Easy</label>
                            <p class="grades" id="grade0" th:if="${grade0} != null" th:text="${grade0}"></p>
                            <label for="grade1">Medium</label>
                            <p class="grades"  id="grade1" th:if="${grade1} != null" th:text="${grade1}"></p>
                            <label for="grade2">Hard</label>
                            <p class="grades"  id="grade2"  th:if="${grade2} != null" th:text="${grade2}"></p>
                        </div>

                        <p>Decimal to Binary</p>
                        <div class="w3-round-xlarge w3-small">
                            <label th:for="grade3">Easy</label>
                            <p class="grades"  id="grade3"  th:if="${grade3} != null" th:text="${grade3}"></p>
                            <label th:for="grade4">Medium</label>
                            <p class="grades"  id="grade4"  th:if="${grade4} != null" th:text="${grade4}"></p>
                            <label th:for="grade5">Hard</label>
                            <p  class="grades" id="grade5"  th:if="${grade5} != null" th:text="${grade5}"></p>
                        </div>

                        <p>Decimal to Hexadecimal</p>
                        <div class="w3-round-xlarge w3-small">
                            <label th:for="grade6">Easy</label>
                            <p class="grades"  id="grade6"  th:if="${grade6} != null" th:text="${grade6}"></p>
                            <label th:for="grade7">Medium</label>
                            <p class="grades"  id="grade7"  th:if="${grade7} != null" th:text="${grade7}"></p>
                            <label th:for="grade8">Hard</label>
                            <p class="grades"  id="grade8"  th:if="${grade8} != null" th:text="${grade8}"></p>
                        </div>

                        <p>Hexadecimal to Decimal</p>
                        <div class="w3-round-xlarge w3-small">
                            <label th:for="grade9">Easy</label>
                            <p class="grades"  id="grade9"  th:if="${grade9} != null" th:text="${grade9}"></p>
                            <label th:for="grade10">Medium</label>
                            <p class="grades"  id="grade10"  th:if="${grade10} != null" th:text="${grade10}"></p>
                            <label th:for="grade11">Hard</label>
                            <p class="grades"  id="grade11"  th:if="${grade11} != null" th:text="${grade11}"></p>
                        </div>
                        <p></p>

                    </div>
                </div>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                    <div class="w3-container">

                        <h5 class="w3-opacity" th:if="${jobTitle} != null"><b th:text="${jobTitle}"></b></h5>

                        <h5 class="w3-opacity" th:if="${jobStartDate} != null"><b th:text="${jobStartDate}"></b></h5>
                        <p th:if="${jobDescription} != null" th:text="${jobDescription}"></p>
                        <hr>
                    </div>
                </div>

                <div class="w3-container w3-card-2 w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity" th:if="${degreeName} != null"><b th:text="${degreeName}"></b></h5>
                        <h6 class="w3-text-teal" th:if="${degreeDate} != null" th:text="${degreeDate}"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
                        <hr>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

         <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
</div>
</body>
<div th:replace="./tags/footer">&copy; </div>
</html>
