<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <footer>
        <div class="row">
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
                    <a href="#" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>
                    <a href="#" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
                    <a th:href="@{../support}">Support</a>
                </li>
                <li class="pull-right"><a href="#top">Back to top</a></li>
            </ul>
            <p>@Copyright <a th:href="@{../home}" title="LIT" target="_blank" class="w3-hover-opacity">LIT</a></p>
        </div>
    </footer>
</div>
</body>
</html>