<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet"/>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMain">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navMain">
            <ul class="nav navbar-nav">

                <li><a sec:authorize="isAnonymous()" th:href="@{../home}" class="navbar-brand"><i class="fa fa-home"></i>BaseConverter</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/user/account/tutorial-home}">Tutorials</a></li>
                <li><a sec:authorize="isAuthenticated()"  th:href="@{/user/account/in-progress}">In Progress</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAnonymous()"><a th:href="@{../support}">Support</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/user/support}">Support</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{../login}"><i class="fa fa-sign-in"></i>Login</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{../join}">Join</a></li>

                <li class="dropdown">
                    <a sec:authorize="isAuthenticated()" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/user/account/user-account}"><span sec:authentication="name"></span> account</a></li>
                        <li class="divider"></li>
                        <li><a><form th:action="@{/logout}" th:method="post"><button type="submit" class="w3-btn w3-hover-teal w3-round-large">Logout</button></form></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>