<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Hexadecimal to Decimal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet"/>
<style>
    body,h1 {font-family: "Raleway", Arial, sans-serif}
    h1 {letter-spacing:6px}
    .w3-row-padding img {margin-bottom:12px}
    .w3-row-padding {margin-bottom:128px}
    .questions {
        display: inline-block;
        text-align: right;
    }​
</style>
<body>
<div th:replace="./tags/navbar">&copy;</div>
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="padding-top: 5%">

    <!-- Header -->
    <header class="w3-panel w3-padding-128 w3-center w3-opacity">
        <h1 class="w3-xlarge">Hexadecimal to Decimal Test</h1>
    </header>


    <div class="w3-display-container w3-padding-64 w3-center w3-animate-opacity">
        <h1 class="w3-large">Choose your difficulty:</h1>
        <ul class="nav nav-tabs" style="text-align: center">
            <li class="active"><a href="#easy" data-toggle="tab">Easy</a></li>
            <li><a href="#medium"  data-toggle="tab">Medium</a></li>
            <li><a href="#hard" data-toggle="tab">Hard</a></li>
        </ul>
    </div>

    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active in" id="easy">
            <h4>Convert the following hexadecimal numbers to decimal</h4>

            <div class="w3-row-padding">

                <!--/*@thymesVar id="user" type="main.java.converter.model.User"*/-->
                <form action="#" th:action="@{/user/test/hexadecimal-decimal-test}"  th:object="${user}" method="post">

                    <div class="form-container">

                        <div th:if="${param.error}">
                            <p th:text="${error}"></p>
                        </div>
                        <div class="form-row">
                            <label th:for="easyAnswer1">1.  </label>
                            <p class="questions" th:text="${easy_rand0}"> </p> =
                            <input type="text" id="easyAnswer1" name="easyAnswer1" th:field="*{easy1}" class="inputbox" maxlength="255" size="50" style="width: 200px;"/>
                        </div>

                        <div class="form-row">
                            <label th:for="easyAnswer2">2.  </label>
                            <p class="questions" th:text="${easy_rand1}"></p> =
                            <input type="text" id="easyAnswer2" name="easyAnswer2" th:field="*{easy2}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />
                        </div>

                        <div class="form-row">
                            <label th:for="easyAnswer3">3.  </label>
                            <p class="questions" th:text="${easy_rand2}"></p> =
                            <input type="text" id="easyAnswer3" name="easyAnswer3" th:field="*{easy3}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />
                        </div>

                        <div class="form-row">
                            <label th:for="easyAnswer4">4.  </label>
                            <p class="questions" th:text="${easy_rand3}"></p> =
                            <input type="text" id="easyAnswer4" name="easyAnswer4" th:field="*{easy4}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />
                        </div>

                        <div class="form-row">
                            <label th:for="easyAnswer5">5.  </label>
                            <p class="questions" th:text="${easy_rand4}"></p> =
                            <input type="text" id="easyAnswer5" name="easyAnswer5" th:field="*{easy5}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />
                        </div>

                        <div class="form-row form-submit-button">
                            <p>
                                <input type="submit" class="w3-btn w3-blue w3-border w3-round-large" value="Submit"/>
                                <input type="reset" class="w3-btn w3-blue w3-border w3-round-large" value="Reset" />
                            </p>
                        </div>

                    </div>
                </form>
            </div>

        </div>
        <div class="tab-pane fade" id="medium">
            <h4>Convert the following hexadecimal numbers to decimal</h4>
            <div class="w3-row-padding">
                <!--/*@thymesVar id="user" type="main.java.converter.model.User"*/-->
                <form action="#" th:action="@{/user/test/hexadecimal-decimal-test}"  th:object="${user}" method="post">

                    <div class="form-container">

                        <div class="form-row">
                            <label th:for="mediumAnswer1">1.  </label>
                            <p class="questions" th:text="${medium_rand0}"> </p> =
                            <input type="text" id="mediumAnswer1" name="mediumAnswer1" th:field="*{medium1}" class="inputbox" maxlength="255" size="50" style="width: 200px;"/>
                        </div>

                        <div class="form-row">
                            <label th:for="mediumAnswer2">2.  </label>
                            <p class="questions" th:text="${medium_rand1}"></p> =
                            <input type="text" id="mediumAnswer2" name="mediumAnswer2" th:field="*{medium2}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />

                        </div>

                        <div class="form-row">
                            <label th:for="mediumAnswer3">3.  </label>
                            <p class="questions" th:text="${medium_rand2}"></p> =
                            <input type="text" id="mediumAnswer3" name="mediumAnswer3" th:field="*{medium3}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />

                        </div>

                        <div class="form-row">
                            <label th:for="mediumAnswer4">4.  </label>
                            <p class="questions" th:text="${medium_rand3}"></p> =
                            <input type="text" id="mediumAnswer4" name="mediumAnswer4" th:field="*{medium4}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />

                        </div>

                        <div class="form-row">
                            <label th:for="mediumAnswer5">5.  </label>
                            <p class="questions" th:text="${medium_rand4}"></p> =
                            <input type="text" id="mediumAnswer5" name="mediumAnswer5" th:field="*{medium5}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />
                        </div>

                        <div class="form-row form-submit-button">
                            <p>
                                <input type="submit" class="w3-btn w3-blue w3-border w3-round-large" value="Submit"/>
                                <input type="reset" class="w3-btn w3-blue w3-border w3-round-large" value="Reset" />
                            </p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="hard">
            <h4>Convert the following hexadecimal numbers to decimal</h4>
            <div class="w3-row-padding">
                <!--/*@thymesVar id="user" type="main.java.converter.model.User"*/-->
                <form action="#" th:action="@{/user/test/hexadecimal-decimal-test}"  th:object="${user}" method="post">

                    <div class="form-container">

                        <div class="form-row">
                            <label th:for="hardAnswer1">1.  </label>
                            <p class="questions" th:text="${hard_rand0}"> </p> =
                            <input type="text" id="hardAnswer1" name="hardAnswer1" th:field="*{hard1}" class="inputbox" maxlength="255" size="50" style="width: 200px;"/>

                        </div>

                        <div class="form-row">
                            <label th:for="hardAnswer2">2.  </label>
                            <p class="questions" th:text="${hard_rand1}"></p> =
                            <input type="text" id="hardAnswer2" name="hardAnswer2" th:field="*{hard2}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />

                        </div>

                        <div class="form-row">
                            <label th:for="hardAnswer3">3.  </label>
                            <p class="questions" th:text="${hard_rand2}"></p> =
                            <input type="text" id="hardAnswer3" name="hardAnswer3" th:field="*{hard3}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />

                        </div>

                        <div class="form-row">
                            <label th:for="hardAnswer4">4.  </label>
                            <p class="questions" th:text="${hard_rand3}"></p> =
                            <input type="text" id="hardAnswer4" name="hardAnswer4" th:field="*{hard4}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />

                        </div>

                        <div class="form-row">
                            <label th:for="hardAnswer5">5.  </label>
                            <p class="questions" th:text="${hard_rand4}"></p> =
                            <input type="text" id="hardAnswer5" name="hardAnswer5" th:field="*{hard5}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />

                        </div>

                        <div class="form-row form-submit-button">
                            <p>
                                <input type="submit" class="w3-btn w3-blue w3-border w3-round-large" value="Submit"/>
                                <input type="reset" class="w3-btn w3-blue w3-border w3-round-large" value="Reset" />
                            </p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->

</body>
<div th:replace="./tags/footer">&copy; </div>

</html>

