<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="navbar navbar-inverse navbar-fixed-top" id="navbar-header" role="navigation" style="background-color: steelblue">
    <div class="container" >
        <div class="navbar-header" style="color: white">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navigation" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a style="color: white; font-size: medium" th:href="@{../user/tutorials_home}">Tutorials</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="color: white" href="#">
                        <span sec:authentication="name"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{../user/useraccount}">My Account</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Account</li>
                        <li class="dropdown-item">
                            <a>
                                <form th:action="@{/logout}" th:method="post">
                                    <input type="submit" class="btn btn-default navbar-btn" value="Logout"/>
                                </form>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>