<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>

    </style>
</head>
<div class="navbar navbar-inverse navbar-fixed-top" id="navbar-header" role="navigation" style="background-color: steelblue">
    <div class="container" >
        <div class="navbar-header" style="color: white">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: white; font-size: large"  th:href="@{../home}" >Base Converter</a>
        </div>

        <div class="navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a th:href="@{../login}" style="color: white">Login</a></li>
            </ul>
        </div>

    </div>
</div>
</html>