<nav id="ac-globalnav" class="js no-touch svg no-ie7 no-ie8" role="navigation" aria-label="Global Navigation" data-hires="false" data-analytics-region="global nav" lang="en-US" dir="ltr" data-store-locale="us" data-store-api="/[storefront]/shop/bag/status" data-search-locale="en_US" data-search-api="/search-services/suggestions/">
    <div class="ac-gn-content">
        <ul class="ac-gn-header">
            <li class="ac-gn-item ac-gn-menuicon">
                <label class="ac-gn-menuicon-label"  aria-hidden="true">
					<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
					</span>
                    <span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
					</span>
                </label>
                <a href="#ac-gn-menustate" class="ac-gn-menuanchor ac-gn-menuanchor-open" id="ac-gn-menuanchor-open">
                    <span class="ac-gn-menuanchor-label">Open Menu</span>
                </a>
                <a href="#" class="ac-gn-menuanchor ac-gn-menuanchor-close" id="ac-gn-menuanchor-close">
                    <span class="ac-gn-menuanchor-label">Close Menu</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-apple">
                <a class="ac-gn-link ac-gn-link-apple" href="/" data-analytics-title="apple home" id="ac-gn-firstfocus-small">
                    <span class="ac-gn-link-text">Apple</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-bag ac-gn-bag-small" id="ac-gn-bag-small">
                <a class="ac-gn-link ac-gn-link-bag" href="/us/shop/goto/bag" data-analytics-title="bag" data-analytics-click="bag" aria-label="Shopping Bag" data-string-badge="Shopping Bag with Items" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="ac-gn-bagview-content">
                    <span class="ac-gn-link-text">Shopping Bag</span>
                    <span class="ac-gn-bag-badge"></span>
                </a>
                <span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span>
            </li>
        </ul>
        <ul class="ac-gn-list">
            <li class="ac-gn-item ac-gn-apple">
                <a class="ac-gn-link ac-gn-link-apple" href="/" data-analytics-title="apple home" id="ac-gn-firstfocus">
                    <span class="ac-gn-link-text">Apple</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
                <a class="ac-gn-link ac-gn-link-mac" href="/mac/" data-analytics-title="mac">
                    <span class="ac-gn-link-text">Mac</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-ipad">
                <a class="ac-gn-link ac-gn-link-ipad" href="/ipad/" data-analytics-title="ipad">
                    <span class="ac-gn-link-text">iPad</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-iphone">
                <a class="ac-gn-link ac-gn-link-iphone" href="/iphone/" data-analytics-title="iphone">
                    <span class="ac-gn-link-text">iPhone</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-watch">
                <a class="ac-gn-link ac-gn-link-watch" href="/watch/" data-analytics-title="watch">
                    <span class="ac-gn-link-text">Watch</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-tv">
                <a class="ac-gn-link ac-gn-link-tv" href="/tv/" data-analytics-title="tv">
                    <span class="ac-gn-link-text">TV</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-music">
                <a class="ac-gn-link ac-gn-link-music" href="/music/" data-analytics-title="music">
                    <span class="ac-gn-link-text">Music</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-support">
                <a class="ac-gn-link ac-gn-link-support" href="https://support.apple.com" data-analytics-title="support">
                    <span class="ac-gn-link-text">Support</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-search" role="search">
                <a class="ac-gn-link ac-gn-link-search" href="/us/search" data-analytics-title="search" data-analytics-click="search" aria-label="Search apple.com" role="button" aria-haspopup="true">
                    <span class="ac-gn-search-placeholder" aria-hidden="true">Search apple.com</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-bag" id="ac-gn-bag">
                <a class="ac-gn-link ac-gn-link-bag" href="/us/shop/goto/bag" data-analytics-title="bag" data-analytics-click="bag" aria-label="Shopping Bag" data-string-badge="Shopping Bag with Items" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="ac-gn-bagview-content">
                    <span class="ac-gn-link-text">Shopping Bag</span>
                    <span class="ac-gn-bag-badge" aria-hidden="true"></span>
                </a>
                <span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span>
            </li>
        </ul>
        <aside id="ac-gn-searchview" class="ac-gn-searchview" role="search" data-analytics-region="search">
            <div class="ac-gn-searchview-content">
                <form id="ac-gn-searchform" class="ac-gn-searchform" action="/us/search" method="get">
                    <div class="ac-gn-searchform-wrapper">
                        <input id="ac-gn-searchform-input" class="ac-gn-searchform-input" type="text" aria-label="Search apple.com" placeholder="Search apple.com" data-placeholder-long="Search for Products, Stores, and Help" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
                        <input id="ac-gn-searchform-src" type="hidden" name="src" value="globalnav">
                        <button id="ac-gn-searchform-submit" class="ac-gn-searchform-submit" type="submit" disabled="" aria-label="Submit"></button>
                        <button id="ac-gn-searchform-reset" class="ac-gn-searchform-reset" type="reset" disabled="" aria-label="Clear Search"></button>
                    </div>
                </form>
                <aside id="ac-gn-searchresults" class="ac-gn-searchresults" data-string-quicklinks="Quick Links" data-string-suggestions="Suggested Searches" data-string-noresults="Hit enter to search."></aside>
            </div>
            <button id="ac-gn-searchview-close" class="ac-gn-searchview-close" aria-label="Close Search">
					<span class="ac-gn-searchview-close-wrapper">
						<span class="ac-gn-searchview-close-left"></span>
						<span class="ac-gn-searchview-close-right"></span>
					</span>
            </button>
        </aside>
        <aside class="ac-gn-bagview" data-analytics-region="bag">
            <div class="ac-gn-bagview-scrim">
                <span class="ac-gn-bagview-caret ac-gn-bagview-caret-small"></span>
            </div>
            <div class="ac-gn-bagview-content" id="ac-gn-bagview-content">
            </div>
        </aside>
    </div>
</nav>