<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>FanBox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{./css/main.css}"/>

</head>

<body>
<div th:replace="./tags/loggedout">&copy;</div>
        <div class="gallery-item-content" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); position: absolute; z-index: 1000;top: 14%;height: 86%;width: 100%;text-align: center;-webkit-user-select: none;">
            <h1 class="logo-image">
                <span class="logo-image-label">Base Conversion made easy</span>
            </h1>
            <h2 class="homepage-headline">
                <a class="btn btn-primary btn-large" th:href="@{/info}">Learn more</a>
            </h2>
        </div>
</body>
</html>
