<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{./css/main.css}"/>
</head>

<body>
<div th:replace="./tags/loggedout">&copy;</div>

<section class="container" style="padding-top: 10%" >
    <link rel="stylesheet" type="text/css" th:href="@{./css/loginform.css}"/>
    <div class="join-form-info">
        <a th:href="@{/home}" class="login-logo__link">
            Base Converter
            <i class="icon logo-fantasy-formulas"></i>
        </a>
        <h1 class="join-form-info__heading">Test Your Skills</h1>
    </div>
    <!--/*@thymesVar id="user" type="main.java.converter.model.User"*/-->
    <div class="login-card login-card--join">
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form action="#" th:action="@{/login}"  th:object="${user}" method="post">
            <div class="form-container signup-form-container">

                <div class="form-row">
                    <label th:for="username">Username</label>
                    <input type="text" id="username" name="username" th:field="*{username}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />
                </div>
                <div class="form-row">
                    <label th:for="password">Password</label>
                    <input type="password" id="password" name="password" th:field="*{password}" class="inputbox" maxlength="255" size="50" style="width: 200px;" />
                </div>

            </div>

            <div class="login-card-option-wrap">
                <div class="login-card-option remember-me">
                    <label for="checkbox_remember" class="checkbox-label">
                        <input name="checkbox_remember" type="checkbox" id="checkbox_remember" value="1" checked="" />
                        Remember me
                    </label>
                </div>
                <div class="login-card-option forgot-password">
                    <a th:action="@{/forgot_password}" th:method="get">Forgot password?</a>
                </div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="submit" name="login" value="Log in to your account" class="w3-btn w3-white w3-border w3-round-large"/>

            <div class="login-create-account">
                Don't have an account?
                <a th:href="@{/join}" th:action="@{/join}" th:method="get">Join now</a>
            </div>
        </form>
    </div>

</section>
</body>
</html>