@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset !important; }

.combo-form {
    display: block; }
.combo-form .combo-form-grouping {
    margin-bottom: 20px; }
.combo-form .combo-form-row {
    display: -ms-flexbox;
    display: flex;
    margin: 0 -1px 0 0; }
.combo-form .combo-form-row:first-of-type .combo-form-input-group:first-of-type {
    border-top-left-radius: 3px; }
.combo-form .combo-form-row:first-of-type .combo-form-input-group:last-of-type {
    border-top-right-radius: 3px; }
.combo-form .combo-form-row:last-of-type .combo-form-input-group:first-of-type {
    border-bottom-left-radius: 3px; }
.combo-form .combo-form-row:last-of-type .combo-form-input-group:last-of-type {
    border-bottom-right-radius: 3px; }
.combo-form .combo-form-row:only-of-type .combo-form-input-group:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
.combo-form .combo-form-row:only-of-type .combo-form-input-group:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
.combo-form .combo-form-input-group {
    border: 1px solid #C5CED3;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: -1px 0 0 -1px; }
.combo-form .combo-form-input-group:only-of-type {
    width: calc(100% + 1px); }
.combo-form .combo-form-input-group.is-active {
    border-color: #4E8BE6;
    position: relative;
    z-index: 1; }
.combo-form .combo-form-input-group .form_error {
    color: #E9533A;
    padding: 0 14px;
    font-size: 0.75rem; }
.combo-form .combo-form-input-group input, .combo-form .combo-form-input-group textarea, .combo-form .combo-form-input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 10px 14px;
    font-size: 0.875rem; }
.combo-form .combo-form-input-group select {
    /*# background: no-repeat right 14px center transparent; */
     }
.combo-form .combo-form-label {
    text-transform: uppercase;
    line-height: 1;
    padding: 10px 14px 0 14px;
    color: #2D363B;
    font-size: 0.625rem; }
.combo-form .multi-col-group {
    display: -ms-flexbox;
    display: flex; }
.combo-form .multi-col-group .combo-form-input-group {
    margin-left: -1px; }
.combo-form .combo-form-actions {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.combo-form .combo-form-actions .secondary-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    font-size: 0.875rem; }
.combo-form .combo-form-actions .secondary-action-item {
    margin: 0 10px 0 0; }

.usermessage{
    position:absolute;
    top:-66px;
    width:100%;
    z-index:1010
}
.no-frame-wrap{
    /*#   background:url() no-repeat bottom right #1493ff; */
    background-size:cover;
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1001}
.login-card-wrap{
    width:100%;
    font-size:.875rem
}
@media(min-width:641px){
    .login-card-wrap{
        width:auto
    }
}
.login-logo{
    color:#fff;
    text-align:center;
    font-size:32px;
    margin-bottom:5px
}
.login-logo__link{
    color:#00a0d1
}
.login-logo__link:hover{
    color:#152a47;
}
.login-card{
    background:#fff;
    padding:25px
}
@media(min-width:641px){
    .login-card{
        border-radius:4px;
        max-width:400px
    }
}

#usernameLabel, #passwordLabel {
    color: #2d363b;
    display: block;
    font-size: small
}
#invalid_username_password{
    color: #b50919;
    display: block;
    font-size: small
}
.login-card-title {
    color:#2d363b;
    display:block;
    letter-spacing:3px;
    line-height:1;
    margin-bottom:22px;
    text-align:center;
    text-transform:uppercase;
    font-size:1rem
}

.login-card-description{
    margin-bottom:22px
}
.login-card-option-wrap{
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    margin:-5px 0 15px 0
}
.login-card-option-wrap
.login-card-option{
    width:50%
}
.login-card-option-wrap
.forgot-password{
    text-align:right
}
.login-card-option-wrap
.remember-me label{
    font-size:.875rem
}
.login-card-button {
    font-size:.875rem
}
.login-create-account{
    color:#4E8BE6;
    text-align:center;
    padding:15px 0
}
.login-create-account a{
    color:#4E8BE6;
    text-decoration:underline;
    font-weight:bold
}
.login-create-account a:hover{
    text-decoration: underline;
}
.login-card-wrap--join{
    /*# background:url() no-repeat bottom right #1493ff; */
    background-size:cover;
    min-height:100vh;
    padding:10vh 0
}
.login-card--join{
    margin-right:auto;
    margin-left:auto
}
.join-form-info{
    max-width:500px;
    margin-right:auto;
    margin-left:auto;
    padding:0 12px;
    text-align:center
}
.join-form-info__copy,.join-form-info__heading,.join-form-info__link{
    margin-bottom:12px;
    color:#2d363b;
}
.join-form-info__heading{
    font-size:24px
}
.join-form-info__link{
    font-weight:bold
}
.join-form-info__link:hover{
    color:#f3f3f3
}

legend {
@extend %headings;
@include font-size(29px);
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #d8d8d8
}

small {
    display: block;
    margin: 5px 0 0;
    color: gainsboro;
    line-height: 1
}

.error,
.invalid,
 .form_error {
    margin-top: -5px;
    padding: 2px 0 0;
    font-size: 80%;
    font-weight: bold
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
select[multiple],
textarea {
    color: #222;
    font-weight: normal

}

.form-inline {
    margin-bottom: 0
}
.form-row {
    display: inline-block;
    margin: 0 0
}

label {
    display: inline;
}

input[type="checkbox"],
input[type="radio"] {
    margin-left: 0;
}

li.form-inline {
    margin-bottom: 3px;
}

p.message {
    margin: 0;
}

label {
    display: block;
    width: 100%;
    font-weight: bold;
    cursor: pointer
}

small {
    font-weight: normal;
    font-size: 90%;
    display: inline
}

.boxed {
    position: relative;
    display: inline-block;
    padding: 3px 12px 3px 6px;
    font-weight: normal
}

.is-active {
    color: #7ab800;
    font-weight: bold;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .2);
    border: 1px solid;
    border-radius: 3px
}

.contest-quantity {
        display: block
}

.disabled {
     display: none
 }

input[type="checkbox"],
input[type="radio"]{
    margin:0
}

input,
textarea,
select,
.uneditable-input {
@include font-size:130%;
    width: 100%;
    padding: 8px 11px 9px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: all 0.4s linear
}

.form-mini  {
@include font-size(3px);
    padding: 3px 6px
}

.button {
     width: auto
 }


select {
    height: 37px;
}

.form-mini  {
    height: 24px;
}


/*# Fields */

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="search"],
    select,
    select[multiple],
    textarea {
        background-color: #fff
    }

:focus {
     border-color: rgba(82, 168, 236, 0.8);
     outline: 0;
     outline: thin dotted \9;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(82, 168, 236, 0.6)
 }

input[type="checkbox"],
input[type="radio"] {
    width: 17px;
    display: inline-block;
    margin: 0 0 0;
    padding: 0;
    border: 0
}

.checkbox-label,
.radio-label {
@include font-size(130%);
    width: auto;
    padding-left: 17px;
}

.checkbox-label-button {
    background-color: lightgrey;
    border: 1px solid lightgrey;
    display: inline-block;
    padding: .5em .8em
}

.disabled {
     background-color: #fff;
     border: 1px solid lightGrey;
     color: slategrey;
 }

.checkbox-label,
.radio-label,
.checkbox-label-button {
    color: darkgrey;
    font-weight: normal;
    text-transform: none;
}

input[type="search"] {
    -webkit-appearance: none;
    padding-left: 0;
    padding-right: 0
}

::-webkit-input-placeholder {
     font-style: normal;
 }

button {
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
}

.form-terms {
@include font-size(32 px);
    margin: 0 0;
    color: #8c8c8c
}

a {
    color: #6c6c6c;
    font-weight: bold;
    text-decoration: none
}

:hover {
 }

.label-info {
    margin: 0 0 10px;
    color: darkgrey;
}

.controls {
    margin-bottom: 10px;
}

.login .controls {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: .4em;
    position: relative
}

i.icon {
    background: linear-gradient(#ebebeb, #fff);
    border-right: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    color: #a9a9a9;
    display: block;
    font-size: 130%;
    height: 100%;
    left: 0;
    margin: 0;
    padding-top: .55em;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 rgba(0, 0, 0, .3);
    top: 0;
    width: 2.5em;
    z-index: 1
}

.username {
     padding-top: .65em;
 }

input[type="userName"],
input[type="password"],
input[type="text"]{
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    box-shadow: inset 0 0 3px rgba(0,0,0,.5);
    margin: 0;
    padding-left: 3.25em;
}

.login .error {
}

i.icon {
    display: none;
}

input[type="userName"],
input[type="password"],
input[type="text"]{
    padding-left: .5em
}

     ::-webkit-input-placeholder {
         color: #8b8b8b;
     }

:-moz-placeholder {
    color: #8b8b8b;
}

::-moz-placeholder {
    color: #8b8b8b;
}

:-ms-input-placeholder {
    color: #8b8b8b;
}
input:-webkit-autofill {
         box-shadow: 0 0 0 1000px white inset !important;
     }
p.error {
    font-weight: bold;
    color: red;
}
/*# sourceMappingURL=sourcemaps/desktop.css.map */
