@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

/* Sticky footer styles
-------------------------------------------------- */
html,
    /* HTML ELEMENTS */
body {
}

h1 {
    font: bold 50px Helvetica, Arial, Sans-serif;
    text-align: center;
    color: #00a0d1;
    text-shadow: 0px 2px 6px #333;
}
h1 small {
    font-size: 20px;
    text-transform:uppercase;
    letter-spacing: 14px;
    display: block;
    color: #00a0d1;
    margin-top:10px;
}
h2 a {
    display: block;
    text-decoration: none;
    margin: 0 0 30px 0;
    font: italic 40px Georgia, Times, Serif;
    text-align: center;
    color: #00a0d1;
    text-shadow: 0px 2px 6px #333;
}
h2 a:hover {
    color: #000000;
}

/* COMMON CLASSES */
.break {
    clear:both;
}

/* WRAPPER */
#wrapper {
    width:800px;
    margin:40px auto; }

#content h2 {
    font: bold 30px Helvetica, Arial, Sans-serif;
    color:#00a0d1;
    text-shadow: 0px 2px 6px #333;
    margin-left:400px;
    padding-top:20px;
}

#jumbotron{
    margin-top: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
#navbar-header {
    float:left;
    margin-right:0;
    margin-left:0;
}
/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
    color: #00a0d1;
}

#wrap > .container {
    padding: 60px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.sidebar-nav {
    padding: 9px 0;
}

#loginForm {
    color: #fff;
    display: block;
}

.w3-btn {
    margin-bottom:10px
}
p.error {
    font-weight: bold;
    color: red;
}

#boxTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 53%;
    height: 40%;
}
#boxTable tr:nth-child(even) {
    border: 1px solid black;
    background-color: lightgrey;
    color: black
}
#boxTable tr:nth-child(odd) {
    border: 1px solid ghostwhite;
    background-color: white;
    color: black
}
#boxTable th {
    background-color: steelblue;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: #000000;
}

#boxTable td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: #00a0d1;
}
#boxTable td:hover{
    background-color: lawngreen;
}
#boxChoicesButton{
    width: auto;
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;

}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}