<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet"/>
</head>
<script>
    function testButtonClick(url) {
        window.location = url;
    }
</script>
<body>
<div th:replace="tags/navbar">&copy; </div>
<div class="container text-center" style="padding-top: 10%">

    <h1>Error Page</h1>

    <p>Application has encountered an error. Please contact support</p>


    <div th:text="'Error: ' + ${exception}"></div>
    <div th:text="'Please try again:  ' +  ${url}"></div>
    <div >
        <button class="w3-btn w3-teal w3-large w3-hover-gray" onclick=testButtonClick("/user/account/tutorial-home")>Back to tutorials</button>
    </div>
</div>

</body>
<div th:replace="tags/footer">&copy; </div>

</html>