<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet"/>

</head>
<body >
<div th:replace="tags/navbar">&copy;</div>
<section class="container" style="padding-top: 10%" >
    <link rel="stylesheet" type="text/css" th:href="@{./css/loginform.css}"/>
    <div class="join-form-info">
        <a th:href="@{/home}" class="login-logo__link">
            BitsRLit
            <i class="icon logo-fantasy-formulas"></i>
        </a>
        <h1 class="join-form-info__heading">Start Converting Bits!</h1>
    </div>

    <div class="login-card login-card--join">

        <!--/*@thymesVar id="user" type="converter.model.User"*/-->
        <form th:action="@{/join}"  th:object="${user}" method="post">

            <div class="form-container signup-form-container">
                <div class="form-row">
                    <label th:for="username">Pick a username</label>
                    <input type="text"  value="" maxlength="255" size="50" style="width: 200px;" th:field="*{username}"/>
                </div>
                <div class="form-row">
                    <label th:for="email" >Email</label>
                    <input type="text" value="" maxlength="255" size="50" style="width: 200px;" th:field="*{email}"/>
                </div>
                <div class="form-row">
                    <label th:for="password" >Choose a password <small>min 8 characters</small></label>
                    <input type="password" value="" maxlength="255" size="50" style="width: 200px;" th:field="*{password}"/>
                </div>
            </div>

            <div class="form-container">
                <div class="form-row form-submit-button">
                    <p><input type="submit" class="w3-btn w3-blue w3-border w3-round-large" value="Join"/> <input type="reset" class="w3-btn w3-blue w3-border w3-round-large" value="Reset" /> </p>
                </div>
            </div>

        </form>

    </div>

</section>
</body>
<div th:replace="tags/footer">&copy; </div>

</html>