<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>USER LIST</title>
</head>
<body>
<div layout:fragment="content">
    <h1>USER LIST</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Last Login</th>
                <th th:if="${user.isAdmin()}">Delete</th>
                <th th:if="${user.isAdmin()}">Edit</th>
                <th th:if="${user.isAdmin()}">Login as</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userName}">user</td>
                <td th:text="${user.email}">email</td>
                <td th:text="${user.firstName}">first name</td>
                <td th:text="${user.lastName}">last name</td>
                <td th:text="${user.lastLogin}">last login</td>
                <td th:if="${user.isAdmin()}"><a th:href="@{/delete(id=${user.id})}">Delete</a></td>
                <td th:if="${user.isAdmin()}"><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                <td th:if="${user.isAdmin()}"><a th:href="@{/autologin(userName=${user.userName})}">Login As</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>